/node_modules
/vendor
/public/hot
.env
.env.backup
composer.phar
.phpunit.result.cache
.env.test.local
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
guard_saas
database/database.sqlite
storage/logs/laravel.log
storage/app/private/livewire-tmp/iM3j9tOJbGAwucJFzU6gwpOIej89qO-metacmVzcG9uc2Utb25lLWJsYWNrLTEwMjR4NDA0LmpwZw==-.jpg
storage/logs/laravel.log
/storage/*
