/node_modules
/vendor
/public/hot
.env
.env.backup
composer.phar
.phpunit.result.cache
.env.test.local
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
guard_saas
database/database.sqlite
